<!DOCTYPE html>

<html ng-app ng-controller="MainController" ng-csp>
<head>
    <meta charset="utf-8" />
    <title>{{lang.options.pageTitle}}</title>
    <link href="styles/main.css" rel="stylesheet" />
    <link href="styles/options.css" rel="stylesheet" />
    <script src="lib/angular.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="src/langs.js"></script>
    <script src="src/options.js"></script>
</head>
<body>
    <div id="content-wrapper">
        <h1 ng-bind-html="lang.options.pageTitleHtml"></h1>

        <h3>{{lang.options.audioGroup}}</h3>
        <ul class="options-list">
            <li>
                <label>
                    <input type="checkbox" ng-model="options.autoAudio" /> {{lang.options.autoAudio}}
                </label>
            </li>
        </ul>
        <h3>{{lang.options.popupGroup}}</h3>
        <ul class="options-list">
            <li>
                <label>
                    <input type="checkbox" ng-model="options.popupCtrlKey" /> {{lang.options.popupCtrlKey}}
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" ng-model="options.popupSelect" /> {{lang.options.popupSelect}}
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" ng-model="options.popupDblClick" /> {{lang.options.popupDblClick}}
                </label>
            </li>
        </ul>
        <h3>{{lang.options.baiduFanyiAPI}}</h3>
        <ul class="options-list">
            <dt ng-bind-html="lang.options.baiduFanyiAPIDescriptionHtml"></dt>
            <dd>
                <input type="text" tabindex="1" ng-model="options.baiduFanyiAppID" placeholder="{{lang.options.baiduFanyiAppID}}" />
            </dd>
            <dd>
                <input type="text" tabindex="1" ng-model="options.baiduFanyiAppSecretKey" placeholder="{{lang.options.baiduFanyiAppSecretKey}}" />
            </dd>
        </ul>
        <h2>{{lang.options.account}}</h2>
        <dl class="options-list">
            <dt ng-bind-html="lang.options.accountDescriptionHtml"></dt>
            <dd>
                <input type="text" tabindex="1" ng-model="options.email" placeholder="{{lang.options.email}}" />
                <button id="check-account-button">{{lang.options.checkAccount}}</button>
            </dd>
            <dd>
                <input type="password" tabindex="2" ng-model="options.password" placeholder="{{lang.options.password}}" />
            </dd>
            <dd id="account-status">
                <div id="account-status-checking">{{lang.options.checkingAccount}}</div>
                <div id="account-status-valid">{{lang.options.validAccount}}</div>
                <div id="account-status-invalid">{{lang.options.invalidAccount}}</div>
            </dd>
        </dl>
        <div id="tips-wrapper">
            <h3>{{lang.options.tips.title}}</h3>
            <ul ng-repeat="tip in lang.options.tips.items">
                <li>{{tip}}</li>
            </ul>
        </div>
    </div>
    <div id="copyright-line">
        ©2015 <a href="http://wordsbaking.com" target="_blank">{{lang.wordsbaking}}</a>
    </div>
</body>
</html>
